body {
    background-color: black;
    color:white;
    font-family: 'VT323', monospace;
    cursor: url(http://www.rw-designer.com/cursor-view/141989.png), auto;
    cursor: url(http://www.rw-designer.com/cursor-view/141989.png), pointer;
    
}

a:link {
    color: #229954 ;
  }
  
  a:hover {
    color:  #F7DC6F ;
  }

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
body::-webkit-scrollbar-track {
    background: #4f772d;        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: white;    /* color of the scroll thumb */
    border: 0px;
}

.colunas {
    font-size: large;
    display: flex;
}

.info {
    font-size: large;
    flex: 50%;
    color: white;
}

h1 {
    color: #8f2d56
}
h2 {
    color: #45B39D
}

footer:hover {
    transform: scale(1.005)
}